
.desktop_notes{
    display: flex;
    flex-direction: row-reverse;
    gap: 1vw;
    min-height: 15vh;
    height: auto;
    width: 74vw;
    background-color: white;
    border: 1px solid black;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}

.desktop_notes_content{
    display: flex;
    flex-direction: row;
    left: 80%;
    align-items: center;
    min-height: 15vh;
    width: 15vw;
}

.desktop_datetime {
    font-size: 1rem;
    font-weight: 600;
    margin: 1vh 0;
    padding: 5px;
}

.desktop_notes_area{
    min-height: 15vh;
    height: auto;
    width: 50vw;
    text-align: left;
    margin: 5vh 2vh 0 0;
}